#Profile_Area{
    margin-top: 100px;
    text-align: center;
}

#book_title{
    background-color:#c1c1c1;
    color:white;
    padding: 18px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}

.Select_Book_Area{
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 50px;
}

.Select_Book{
    height: 250px;
    margin: 30px;
    cursor: pointer;
    position: relative;
    
}

.Book_In_Text{
    border: 10px;
    position: relative;
    float: right;
    right: -20%; top:5%;
    width: 500px;
    margin-right: 20px;
}

.Book_In_Modal{
    max-width: 25%;
    position: relative;
    float: left;
    top:20px; left:40px;
}

.Book_Modal{ 
    position:fixed; 
    background: rgba(0,0,0,0.4); 
    width: 100%; height: 100%;
    top:0px; left:0px;
    display: none;
    z-index: 100;
}

.Book_Modal_Content{
    width:70%; height:60%;
    background:#fff; border-radius:10px;
    position:absolute; left:50%; top: 50%;
    transform: translate(-50%,-50%);
    box-sizing:border-box; padding:50px 0;
    text-align: right;
    display: flex;
    line-height:23px;
}

.Book_X_Button{
    background-color: white;
    border: none;
    position: absolute;
    right: 5%; top:5%;
    font-size: 130%;
    color: gray;
    cursor:pointer;
}

.Profile{
    height: 10%;
    border-radius:10px;
}