.Select_Book{
    height: 30%;
    cursor:pointer;
}

.Book_In_Modal{
    position:absolute;
    top:10%; left: 5%;
    height: 80%;
}

.Book_Modal{ 
    position:fixed; 
    background: rgba(0,0,0,0.4); 
    width: 100%; height: 100%;
    top:0px; left:0px;
    display: none;
    z-index: 100;
}

.Book_Modal_Content{
    width:70%; height:60%;
    background:#fff; border-radius:10px;
    position:relative; top:25%; left:25%;
    margin-top:-100px; margin-left:-200px;
    text-align:center;
    box-sizing:border-box; padding:74px 0;
    line-height:23px;
}

.Book_X_Button{
    background-color: white;
    border: none;
    position: absolute;
    right: 5%; top:5%;
    font-size: 130%;
    color: gray;
    cursor:pointer;
}