#campaign_title{
  padding :18px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: #444444;
}

#campaign_area{
  background-color: #666666;
  color:aliceblue;
}

#campaign_img{
  padding-bottom: 30px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#c_texts{
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-info {
  margin: 20px;
  height: 250px;
}

.campaign_in{
  padding:20px;
  font-size: 20px;
}

#c_detail_t{
  margin-bottom: 20px;
  font-weight: bold;
}

#campaign_detail{
  padding-top: 20px;
  visibility: hidden;
  background-color: #ffffff;
  height: 0vh;
  transition: all 0.3s;
  text-align: left;
  color: black;
  display: flex;
  justify-content: center;
  flex:1;
}



@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@keyframes fadeout {
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}

@keyframes fadeout_s {
  from {
      opacity:1;
  }
  to {
      opacity:0.5;
  }
}

@keyframes fadein_s {
  from {
      opacity:0.5;
  }
  to {
      opacity:1;
  }
}