@charset "UTF-8";

html { 
  scroll-behavior: smooth; 
} 

#logo_area{
  position: fixed;
  top:0;
  z-index: 3;
  background-color:#333333;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.5%;
  border: 0;
  color: aliceblue;
  font-size: 14px;
}

.logo_button{
  margin:30px;
}

#intro{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  border: 0;
  background-color: #cccccc;
}
* {
  box-sizing: border-box;
}


.main_banner{
  width: 640px;
  height: 480px;
  position: relative;
  margin: 0 auto;
}
.main_banner input[type=radio]{
  display: none;
}
ul.imgs{
  padding: 0;
  margin: 0;
  text-align: center;
}
ul.imgs li{
  position: absolute;
  opacity: 0;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  transition-delay: 0.9s;
}

.main_bannerr input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
  background-color: #fff;
}
.main_banner input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
  background-color: #fff;
}
.main_banner input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
  background-color: #fff;
}

.main_banner input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
  opacity: 1;
  transition: 1s;
  z-index: 1;
}
.main_banner input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
  opacity: 1;
  transition: 1s;
  z-index: 1;
}
.main_banner input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
  opacity: 1;
  transition: 1s;
  z-index: 1;
}

#book_area{
  text-align: center;
}

#campaign_area{
  text-align: center;
}

#online_area{
  text-align: center;
}

a{
  text-decoration-line: none;
  color: inherit;
}


body{
  padding-top: 6.5%;
}