@charset "UTF-8";

html { 
  scroll-behavior: smooth; 
} 

#logo_area{
  background-color:#333333;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.5%;
  border: 0;
  color: aliceblue;
  font-size: 14px;
}

.logo_button{
  margin:50px;
}

#intro{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  border: 0;
  background-color: #cccccc;
}

#intro_image {
  animation: fadein 4s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

#book_area{
  text-align: center;
}

#campaign_area{
  text-align: center;
}

#online_area{
  text-align: center;
}

a{
  text-decoration-line: none;
  color: inherit;
}